@model Employee

<h1>Employee Details</h1>

<div>
    <h4>Employee ID: @Model.EmployeeId</h4>
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
    <p>Email: @Model.Email</p>
    <p>Department: @Model.Department</p>
</div>